<!DOCTYPE html>

<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <title>DEMO Training</title>
    <style>
        table,th,td {border: 2px solid black;}
       
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


<a class="navlist" href="/accounts/">Home</a
</head>
<body>
     

<h1>Question Training !!</h1>
<h2>This is a Question rule. </h2>
<div class="container">
<u1>

    <li>LV1 Beginner means someone who has just gone through an introductory Python course. He can solve some problems with 1 or 2 Python classes or functions. Normally, the answers could directly be found in the textbooks.</li>
    <li>LV2 Intermediate means someone who has just learned Python, but already has a relatively strong programming background from before. He should be able to solve problems which may involve 3 or 3 Python classes or functions. The answers cannot be directly be found in the textbooks.</li>
    <li>LV3 Advanced. He should use Python to solve more complex problem using more rich libraries functions and data structures and algorithms. He is supposed to solve the problem using several Python standard packages and advanced techniques.</li>

</u1>
    </div>

<table class="table">
  <thead class="thead-dark">
    <tr>
        <th>Number</th>
        <th>LV</th>
        <th>Question</th>
        <th>Hint</th>
        <th>Answer</th>
    </tr>
  </thead>
    <tr>
        <td>01</td>
        <td>#</td>
            <td>LV1:
                Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
                 between 2000 and 3200 (both included).The numbers obtained should be printed in a comma-separated sequence on a single line.
            </td>
            <td>
                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                            aria-expanded="false" aria-controls="collapseExample">Solve</button>
                </p>
                <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                Consider use range(#begin, #end) method.
                            </div>
                                </div>
            </td>
                        <td>
                            <label for="fname1">Input your Answer:</label>
                            <input type="text" id="fname1" name="fname"><br><br>
                            <input class="btn btn-primary" type="submit" value="Submit">
                        </td>
    </tr>
        <tr>
            <td>02</td>
            <td>#</td>
            <td>LV1: Write a program which can compute the factorial of a given numbers.
                The results should be printed in a comma-separated sequence on a single line. Suppose the following input is supplied to the program: 8 Then,
                the output should be: 0320
            </td>
            <td>
                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample1"
                            aria-expanded="false" aria-controls="collapseExample">Solve</button>
                </p>
                <div class="collapse" id="collapseExample1">
                            <div class="card card-body">
                In case of input data being supplied to the question, it should be assumed to be a console input.
                                 </div>
                        </div>
            </td>
                        <td>
                            <label for="fname2">Input your Answer:</label>
                            <input type="text" id="fname2" name="fname"><br><br>
                            <input class="btn btn-primary" type="submit" value="Submit">
                        </td>
        </tr>
                <tr>
                    <td>03</td>
                    <td>#</td>
                        <td>
                            With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between
                                1 and n (both included). and then the program should print the dictionary.
                                    Suppose the following input is supplied to the program:8
                                            Then, the output should be:
                                                {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
                        </td>
                            <td>
                                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2"
                            aria-expanded="false" aria-controls="collapseExample">Solve</button>
                </p>
                                <div class="collapse" id="collapseExample2">
                            <div class="card card-body">
                                In case of input data being supplied to the question,
                                    it should be assumed to be a console input.
                                        Consider use dict()
                                 </div>
                        </div>
                            </td>
                                <td>
                                    <label for="fname3">Input your Answer:</label>
                                    <input type="text" id="fname3" name="fname"><br><br>
                                    <input class="btn btn-primary" type="submit" value="Submit">
                                </td>

                </tr>

</table>
 
</body>

</html>
